{% extends "layouts/layouts.twig" %}

{% block body %}
<div class="row" style="min-height: 74vh;">
  <!-- Sidepanel -->
  <div  style="float: left" class="sidebar-container">
    <div class="sidepanel">
      <a href="{{ path_for('category.index') }}">Categories</a>
      <a href="{{ path_for('storages.index') }}">Storages</a>
      <a href="{{ path_for('suppliers.index') }}">Suppliers</a>
      <a href="#">Items</a>
      <a href="#">Billings</a>
      <a href="#">Statistic</a>
    </div>
  </div>
  <!-- End sidepanel -->

  <div id="content">{% block content %}{% endblock %}</div>
</div>
{% endblock %}
